.container {
  margin-top: 20px;
  width: 767px;
}
.random-box {
  display: flex;
  justify-content: center;
}
.control_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.now {
  float: right;
}
@media (max-width: 767px) {
  .section {
    width: 100vw;
  }
}
@media (max-width: 576px) {
  .section {
    width: 100vw;
  }

  div.box {
    display: block;
  }
}
