body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  margin-top: 20px;
  width: 767px;
}
.random-box {
  display: flex;
  justify-content: center;
}

.control-title {
  margin-top: 100px;
}
.control_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-span {
  padding-right: 100px;
  margin-top: 20px;
}
.now {
  float: right;
}
@media (max-width: 767px) {
  .section {
    width: 100vw;
  }
}
@media (max-width: 576px) {
  .section {
    width: 100vw;
  }

  div.box {
    display: block;
  }
}
